<a href="https://colab.research.google.com/github/Madung2/Algorithm-problem-solving/blob/main/%ED%8C%A9%ED%86%A0%EB%A6%AC%EC%96%BC_%EA%B5%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# 재귀함수
def factorial(n):
  if n==1:
    return n
  else:
    return factorial(n-1) * n

In [11]:
factorial(3)

6

In [15]:
# for 문 사용
def factorial2(n):
  res= 1
  for i in range(1, n+1):
    res *= i
  return res

In [16]:
factorial2(3)

6

In [18]:
# while문 사용
def factorial3(n):
  
  res = 1
  while True:
    if n == 1:
      break
    res *= n
    n= n-1
  return res

factorial3(3)

6

In [19]:
## 연습문제 : 1부터 n의 합을 재귀호출로 만들어보자
def add_all_num_until(n):
  if n == 1:
    return 1
  else:
    return add_all_num_until(n-1) + n

add_all_num_until(10)

55

In [22]:
## 연습문제  : 최대값 찾기를 재귀호출로 만들어보자
nums = [17, 92, 18, 33, 58, 7, 33, 42]
def find_max_num(nums):
  if len(nums) == 1:
    return nums[0]
  
  before_ls = nums[:len(nums)-1]
  if find_max_num(before_ls)>nums[-1]:
    return find_max_num(before_ls)
  else:
    return nums[-1]

find_max_num(nums)

92